@model IEnumerable<User>
@{
    ViewData["Title"] = "AllUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AllUsers</h1>

<table class="table" cellspacing="0">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
        </tr>
    }
    </tbody>
</table>




